<!DOCTYPE html>
<html>
    <head>
       <title>Login</title>
       <link rel="stylesheet" href="/static/style.css"> 
    </head>

    <body>
        <div class="login-page">
            <div class="project-name">
                <img src="/static/logo.png" alt="Bug Trackr" width="200" height="200">
            </div>
            <div class="form-box">
                <div class="button-box">
                    <div id="btn"></div>
                    <button type="button" class="toggle-btn" onclick="login()">Log In</button>
                    <button type="button" class="toggle-btn" onclick="register()">Register</button>
                </div>
                <button type="button" class="demo-btn">Demo User</button>
                <form id="login" class="input-group" action="#" method="post" autocomplete="off">
                    <input type="text" class="input-field" name="nm" placeholder="Username/Email" required/>
                    <input type="password" class="input-field" name="pw" placeholder="Password" required/>
                    <input type="checkbox" class="check-box"><span>Remember Password</span>
                    <button type="submit" class="submit-btn" name="submit_button" value="existing_user">Log in</button>
                </form>
                <form id="register" class="input-group" action="#" method="post" autocomplete="off">
                    <input type="text" class="input-field" name="new_nm" placeholder="Username" required/>
                    <input type="email" class="input-field" name="email" placeholder="Email Address" required/>
                    <input type="password" class="input-field" name="new_pw" placeholder="Password" required/>
                    <input type="checkbox" class="check-box" required><span>I have read/agree to the <a href="terms" target="_blank">Terms & Conditions</a></span>
                    <button type="submit" class="submit-btn" name="submit_button" value="new_user">Register</button>
                </form>
            </div>
        </div> 

        <script>
            var x = document.getElementById("login");
            var y = document.getElementById("register");
            var z = document.getElementById("btn");

            function login() {
                x.style.left = "50px";
                y.style.left = "450px";
                z.style.left = "0";
            }

            function register(){
                x.style.left = "-400px";
                y.style.left = "50px";
                z.style.left = "110px";
            }
        </script>

    </body>

</html>